.about-container{
    margin: 4rem 4rem;
}
h1{
    display: flex;
    justify-content:center;
    margin: 20px 0;
    font-size:3rem;
}
h1:not(:hover){
    transition: 0.3s ease-in;
    transform: scale(70%);
    cursor: pointer;
    
}
h1:hover{
    transition: 0.3s;
    cursor: pointer;
}
p{
    color: #ffffff;
    overflow: hidden;
font-size: 1rem;
}