*{
    margin: 0;
}
.NavbarIteams{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0  5px 15px 0 rgba(0, 0, 0, 0.25);
    width: 90%;
    height: 80px;
    border-radius: 13px;
    position:fixed;
    top:20px;
    left:50%;
    transform: translate(-50%);
    z-index: 999;
    
}
.navbar-logo{
   cursor: pointer;
   size-adjust:calc(-50%);

}

.menu-icons{
    display: none;
}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(4,auto);
    list-style-type: none;
    gap: 10px;
    align-items: center;
    
    
}
.nav-Links{
  
    text-decoration: none;
    color: #222;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}
.nav-Links i{
    position: relative;
   top: 5px;
}
.nav-Links:hover {
background-color: rgb(45, 185, 185);
 color: white;
 border-radius: 4px;
 transition: all .3s ;
}
@media screen and (max-width:850px){
    .NavbarIteams{
        width: 90%;
       z-index: 99;
       top:20px;
       left:50%;
       transform: translate(-50%);
       
   

    }
    .menu-icons{
        display: flex;
      padding: 0 20px;
      cursor: pointer;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: white;
        width: 100%;
        height: auto;
        position :absolute;
        top:0;
        left:-100%;
        opacity: 0;
        transition: 0.3s ease-out;
        align-items: stretch;
        padding: 80px 0 30px 0;
        margin: 0;
        border-radius: 13px;
        
    }
    .nav-menu.active{
        left: 0;
        opacity: 1;
        z-index: -1;
        transition: 0.3s ease-out;
    }
    .nav-Links{
        display: flex;
        justify-content: center;
        width: 100%;
        font-size:1.2rem;
        padding: 2rem 0;
    } 
    .nav-Links i{
        position: relative;
       top: 0px;
    }
    .nav-Links:hover{
        background-color: rgb(45, 185, 185);
        color: black;
    }
}